/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 0 2%; }

}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 16px; }
    section { padding: 60px 0; }
    
    .logo {width: 140px;}
    .main-nav {font-size: 80%;}

    header {
      background-attachment: scroll;
    }

    #Teaching .details { max-width: 500px;}

    #Affiliations .icon-small { margin-left: 5px !important;}
    #Publication .fa-link { margin-left: 10px !important;}

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }

    .title .icon-small {
        margin-left: 5px;
    }
    .skills-box {
        width: 100%;
        margin-left: 0%;
    }

    h3 {
        font-size: 150%;
    }

}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }

    .row,
    .hero-text-box { padding: 0 4%; }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }


    .main-nav { display: none; }
    .mobile-nav-icon {
       display: inline-block;
       position: relative;
       z-index: 9999;
    }

    .main-nav {
       float: none;
       position: absolute;
       z-index: 8888;
       width: 100%;
       /*height: 100vh;*/
       margin: 0;
       margin-left: -4%;
       background-color: rgba(0, 0, 0, 0.9);
       text-align: center;
       padding: 10px 0;
    }

    .main-nav li {
       display: block;
       margin-left: 0;
       font-size: 110%;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
       display: block;
       border: 0;
       padding: 10px 0;
       font-size: 100%;
    }

    .sticky .main-nav { margin-top: 0; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
       padding: 10px 0;
       color: #fff;
    }

    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    .sticky .mobile-nav-icon i.ion-close-round { color: #fff; }

    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    h3 { font-size: 120% !important;
    }

    .section-projects h3 {
        font-size: 80% !important;
    }

    .profile-photo {
        width: 40%;
        margin-left: 30%;
    }

    .tab button {
        font-size: 80%;
    }

    .description-container { padding: 0px;}
    #Publication .title { font-size: 110%;}
    .description-container { margin-bottom: 20px;}
    #Presentations .span-2-of-3 {margin-bottom: 40px;}

    .education .span-1-of-3 {margin-bottom: 2px;}


    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .section-presentations .span-1-of-3 {
      text-align: center;
    }

    .section-presentations .span-1-of-3 img {
      height: 200px;
      width: auto;
    }

    .popup-gallery-inverts {
       text-align: center;
    }

    .project-tab .row {
      flex-wrap: wrap;
    }

    .project-tab .row img {
      max-width: 300px;
      margin-bottom: 20px;
    }

    footer .span-1-of-2 {
        float: none;
        margin: 0;
    }

    .tab button {
        font-size: 100%;
    }


}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form {width: 100%; }
}
