//== Colors
//
  //## Gray and brand colors for use across Bootstrap.
  
  $gray-base:              #000 !default;
  $gray-dark:              #5A5A5A !default;   // #333
  $gray-darker:            lighten($gray-base, 13.5%) !default; // #222
  
  $gray:                   #95a5a6 !default; // #555
  $gray-light:             #b4bcc2 !default;   // #999
  $gray-lighter:           #ecf0f1 !default; // #eee
  
  $brand-primary:         #003660 !default; // primary
  $brand-second:          #FEBC11 !default; // warning
  $brand-third:           #047C91 !default; // success
  $brand-info:            #3498DB !default; // info
  $brand-danger:          #E74C3C !default; // danger
  